footer {
  padding: 5em 3em;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  background: var(--brand-primary);
  color: var(--midnight-green);
}

@media screen and (max-width: 600px) {
  footer {
    flex-direction: column;
  }
}

footer h1 {
  margin-top: 0;
}
