.project {
  padding: 2em 4em;
  max-width: 30em;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project img {
   max-width: 100%;
     height: auto;
}


.projectLink {
  box-shadow: 0;
  border:0;
  padding: 1em 2em;
  display: inline-block   ;
  background-color: var(--bittersweet);
  font-weight: 700;
  color: var(--white)
}
