header {
  display: flex;
  justify-content: space-between;
  max-width: 100vw;
  padding: 4vw 5vh 3vh;
}

@media screen and (max-width: 600px) {
  header {
    flex-direction: column;
    text-align: left;
    justify-content: flex-start;
  }
}
